.btn {
  padding: 4px 40px 4px 12px;

  border: none;
  border-radius: 16px;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-align: right;
  text-transform: uppercase;

  color: $white;

  background-color: $accentColor;
  background-image: url('../img/icons/right-chevron.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;

  cursor: pointer;

  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: darken($accentColor, 20%);
  }
}
