.btn {
  background: #FF3E79;
  border-radius: 16px;

  padding: 4px 40px 4px 12px;

  border: none;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;

  text-align: right;
  letter-spacing: -0.15px;
  text-transform: uppercase;

  color: #FFFFFF;

  background-image: url('../img/icons/right-chevron.svg');
  background-repeat: no-repeat;
  background-position: right 20px center;
}
