.footer {
  border-top: 1px solid $light-blue;
  margin-top: 24px;
  padding: 20px 0;

  grid-area: footer;

  @media (min-width: 900px) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

    @media (min-width: 580px) {
      display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: start;
    }

    @media (min-width: 900px) {
      justify-items: start;
    }
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: $grey-text;

    mix-blend-mode: normal;
    opacity: 0.72;

    padding: 0;
    margin: 0;

    @media (min-width: 580px) {
      text-align: left;
    }
  }
}
