.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: -0.2px;
  text-transform: uppercase;

  color: #7E7E82;

  margin: 0;
}
