html {
	font-family: 'TTLakes', sans-serif;
	font-weight: 400;
}

body {

  &.block-scroll {
    overflow: hidden;
  }

	@media (min-width: 1366px) {
    width: 100vw;
    overflow-x: hidden;

		display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      'sidenav main'
      'sidenav footer'
    ;
    gap: 8px;
	}
}
