@font-face {
	font-family: 'TTLakes';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/TTLakes/TTLakes-Regular.ttf');
}

@font-face {
	font-family: 'TTLakes';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/TTLakes/TTLakes-Medium.ttf');
}

@font-face {
	font-family: 'TTLakes';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/TTLakes/TTLakes-Bold.ttf');
}