$accentColor: #FF3E79;
$white: #FFFFFF;
$bg-light: #F8F8F8;
$light-blue: #D9FFF5;
$light-cyan: #B8FFEC;
$cyan: #41F6D7;
$grey-text: #7E7E82;
$separator-color: #eaeaea;
$dark-text: #1B1C21;
$placeholder-color: #B5B6BC;
$bullet-bg: #DDDDDD;
